body{
    box-sizing: border-box;
}
.hero-text{
    top: 40%;
    margin-left: 3.2%;
}
.contenaire{
    margin-left: 3.2%;
    margin-right: 3.2%;
    align-items: center;
}
.featured{
    padding: 5px;
    margin-top: 3.2%;
    margin-bottom: 3.2%;
    box-shadow: 0 2px 5px #ccc;
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    height: 30%;
}
.grid{
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.mancollection{
    grid-row: span 2;
}
.mancollection img{
    border-radius: 7px;
}
.collection1-text{
    top: 30%;
    margin-left: 60%;
    align-items: center;
}

.collection-text{
    top: 30%;
    margin-left: 10%;
    align-items: center;
}
#selling-product{
 box-sizing: border-box;
}
#selling-product .tabs{
    display: flex;
}
.tab{
    padding-right: 30px;
}
a button{
    cursor: pointer;
}
.hidden{
    display: none;
}
.card:hover .hidden{
    display: block;
}
.arrow-rigth{
    margin-right: 85%;
}
.arrow-left{
    margin-left: -6%;
}
.bg-light{
    margin-top: 5%;
}
.flash{
        overflow-clip-margin: content-box;
        overflow: clip;
}
.swiper {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
.swiper-slide {
    text-align: center;  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide .card {
    display: block;
    width: 75%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
  }
  .swiper-slide img {
    border-radius: 5px 5px 0 0;
  }

  .swiper-slide:first-child{
        margin-left: 3%;
  }
  .off{
    top: 5%;
    left: 5%;
    padding: 1% 5%;
    color: white;
    font-weight: 600;
    background-color: rgb(52, 131, 168);
    align-items: center;
    text-align: center;
  }
  .model {
    height: 100vh;

  }
  .model img{
    height: 100vh;
    object-fit: cover;
    border-radius: 8px;

  }
  .daily{
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 50vh;
    align-items: center;
    justify-content: center;
  }

  
/* media queries */
@media screen and (max-width: 700px) {
#selling-product .tabs{
    overflow-x: scroll;
    flex-wrap: unset;
}

.swiper-slide img{
    object-fit: cover;
    height: 150px;
  }
  .swiper-slide .card {
    height: 220px;
    width: 100%;
  }

}